// utils
@import "./utils/vars";
@import "./utils/mixins";

// Base styles
@import "./base/reset";
@import "./base/common";
@import "./base/container";

// Components
@import "./components/header";
@import "./components/hero";
@import "./components/modal";
@import "./components/modal-form";
@import "./components/feachers";
@import "./components/directions";
@import "./components/team";
@import "./components/team-sociallinks";
@import "./components/clients";
@import "./components/portfolio";
@import "./components/footer";
@import "./components/footer-form";
@import "./components/footer-sociallinks";
