:root {
  --prime-color: #757575;
  --second-color: #212121;
  --accent-color: #2196f3;
  --logo-blackcolor: #000000;
  --logo-whitecolor: #fff;
  --footer-link-color: #fff9;
  --prime-white-background: #fff;
  --second-white-background: #f5f4fa;
  --black-background: #2f303a;
  --accent-background: #2196f3;
}

// body fonts:
$primaryFontFamily:"Roboto", sans-serif;
// footer&header fonts:
$secondaryFontFamily:"Raleway", sans-serif;



