/*  Особливості */

.section.feature {
  padding-bottom: 0;
}
// 768
@media screen and (min-width: 768px) {
  .feature {
    display: flex;
    flex-wrap: wrap;
    
    &__icon, &__disc {
      width: 354px;
    }
    &__item:not(:nth-child(2n)) {
      margin-right: 30px;
    }
  }
}
// 1200
@media screen and (min-width: 1200px) {
  .feature {
    &__icon, &__disc  {
      width: 270px;
    }
    &__item:not(:last-child) {
      margin-right: 30px;
  }
}
}
.feature {
  &__icon {
    display: flex;
    margin-bottom: 30px;
    width: 100%;
    height: 120px;
    border-radius: 4px;
    justify-content: center;
    align-items: center;

    background-color: var(--second-white-background);

    fill: currentColor;
  }

  &__title {
    margin-bottom: 10px;
    color: var(--second-color);
    @include fonts(14px, 700, 1.14, 0.03em);
  }

  &__disc {
    @include fonts(14px, null, 1.7, 0.03em);

  }
}


