/* Підписка */

.footer__form {
  display: flex;
  width: 570px;
  border-radius: 4px;
}
.footer__button {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 200px;
  padding: 10px 28px;
  border-radius: 4px;
  border: 1px solid var(--accent-background);

  background-color: var(--accent-background);
  color: var(--prime-white-background);
  cursor: pointer;
  font-family: inherit;

  @include fonts(16px, 700, 2, 0.06em);

  text-align: center;
}

.footer__input {
  display: inline-block;
  min-width: 358px;
  margin-right: 12px;

  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;

  background-color: #2f303a;
  color: #ffffff99;
  border-radius: 4px;
  border: 1px solid #ffffff4d;

  @include fonts(16px, 400, null, 0.03em);

  text-align: left;
}

.footer__icon-send {
  display: block;

  margin-left: 10px;

  fill: var(--prime-white-background);
}
