/* Хедер */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-logo {
  padding-top: 24px;
  padding-bottom: 25px;
  text-decoration: none;
  color: var(--logo-blackcolor);
  font-family: $secondaryFontFamily;

  @include fonts(26px, 700, 1.2, 0.03em);
}

/*  частина лого WEB */
.logo {
  color: var(--accent-color);
}

.header-nav {
  margin-left: 93px;
}

.header-nav__list {
  display: flex;
}

.header-nav__item:not(:last-child) {
  margin-right: 50px;
}

.header-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--second-color);

  text-decoration: none;

  @include fonts(14px, 500, 1.2, 0.02em);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &.current {
    color: var(--accent-color);
    position: relative;

    &::before {
      content: " ";
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: var(--accent-color);
    }
  }
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.header-address {
  display: flex;
  margin-left: auto;
}

.header-address__item:not(:last-child) {
  margin-right: 50px;
}
.header-address__icon {
  margin-right: 10px;
  fill: currentColor;
}
.header-address__link {
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--prime-color);

  text-decoration: none;

  @include fonts(14px, 500, 1.2, 0.02em);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
