/* Головна сторинка */
/* Герой */

.section.hero {
  max-width: 1600px;
  min-height: 600px;

  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, #2f303a66, #2f303a66),
    url(../images/background-hero.png);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero {
  color: var(--logo-whitecolor);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero__title {
  max-width: 696px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  text-align: center;

  @include fonts(44px, 900, 1.4, 0.06em);

  text-transform: uppercase;
}

.hero__button {
  display: inline-block;

  min-width: 216px;
  padding: 10px 32px;
  border-radius: 4px;
  border: 1px solid var(--accent-background);

  background-color: var(--accent-background);
  color: inherit;
  cursor: pointer;
  font-family: inherit;

  @include fonts(16px, 700, 2, 0.06em);

  text-align: center;
}
