// кнопка випадаючего меню - бургер
@media (max-width: 767px) {
  .menu {
    display: none;
  }
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  fill: var(--accent-color);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 40px;
  background-color: var(--logo-whitecolor);
  z-index: 999;

  transform: translateY(-100%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container.is-open {
  transform: translateY(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: var(--second-color);
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-nav {
  @include fonts(40px, 500, 1.2, 0.02em);
  margin-bottom: 306px;
}
.mobile-nav__item:not(:last-child) {
  margin-bottom: 32px;
  //  background-color: red;
}
.mobile-nav__link {
  display: flex;
  text-decoration: none;
  color: var(--second-color);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.mobile-address {
  display: block;
  margin-bottom: 64px;

  &__link-tel {
    @include fonts(34px, 500, 2, 0.02em);
    text-decoration: none;
    color: var(--accent-color);
    margin-bottom: 32px;
  }
  &__link {
    text-decoration: none;
    color: var(--prime-color);

    @include fonts(24px, 500, 2, 0.02em);
  }
}

.mobile-social {
  display: flex;
  flex-wrap: nowrap;
  margin-left: -10px;
  margin-right: -10px;

  @include fonts(18px, 500, 1.2, 0.02em);
  color: var(--accent-color);
}
.mobil-social__item {
  display: flex;
  // &:not(:last-child) {background-color: red;}
}

.mobile-social__link {
  text-decoration: none;
  display: block;
  padding-right: 10px;
  padding-left: 10px;
  position: relative;
  color: var(--accent-color);
  
  &:not(:last-child) {
    background-color: red;
  }

  &::after {
    content: " ";
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    width: 1px;
    height: 22px;
    border-radius: 2px;
    background-color: var(--prime-color);
  }
  &:not(:last-child)::after {
    display: none;
  }
}

// .mobile-social__link[data-after="false"]::after {
//   display: none;
// }
