// 320

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;


  &:hover .icon-menu,
  &:focus .icon-menu {
    fill: var(--accent-background);
  }
}

.icon-menu {
  fill: var(--logo-background);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  background-color: var(--logo-whitecolor);
  z-index: 999;

  transform: translateY(-400%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container.is-open {
  transform: translateY(0);
}

.menu-container .menu-toggle {
  position: fixed;
  top: 16px;
  right: 16px;
  color: var(--second-color);
  &:hover .icon-cross,
  &:focus .icon-cross {
    fill: var(--accent-background);
  }
}
.icon-cross {
  fill: var(--logo-background);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-nav {
  @include fonts(26px, 500, 1.2, 0.02em);
  margin-bottom: 40vh;
}
.mobile-nav__item:not(:last-child) {
  margin-bottom: 20px;
}
.mobile-nav__link {
  display: flex;
  text-decoration: none;
  color: var(--second-color);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.mobile-nav__link.current {
  color: var(--accent-color);
}

.mobile-address {
  display: block;
  margin-bottom: 5vh;

  &__link-tel {
    @include fonts(26px, 500, 2, 0.02em);
    text-decoration: none;
    color: var(--accent-color);
    margin-bottom: 32px;
  }
  &__link {
    text-decoration: none;
    color: var(--prime-color);

    @include fonts(20px, 500, 2, 0.02em);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}

.mobile-social {
  display: flex;
  flex-wrap: nowrap;
  margin-left: -10px;
  margin-right: -10px;

  @include fonts(14px, 400, 1.2, 0.02em);
  color: var(--accent-color);
}
.mobile-social__item {
  display: flex;
  position: relative;

  &::after {
    content: " ";
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    width: 1px;
    height: 22px;
    border-radius: 2px;
    background-color: var(--prime-color);
  }
  &:last-child::after {
    display: none;
  }
}

.mobile-social__link {
  text-decoration: none;
  display: block;
  padding-right: 10px;
  padding-left: 10px;

  color: var(--accent-color);
}

// 480
@media screen and (min-width: 480px) {
  .menu-container {
    padding: 40px;
  }

  .mobile-nav {
    @include fonts(40px, 500, 1.2, 0.02em);
    margin-bottom: 30vh;
  }
  .mobile-nav__item:not(:last-child) {
    margin-bottom: 32px;
  }

  .mobile-address {
    margin-bottom: 6vh;
    &__link-tel {
      @include fonts(34px, 500, 2, 0.02em);
    }
    &__link {
      @include fonts(24px, 500, 2, 0.02em);
    }
  }

  .mobile-social {
    @include fonts(18px, 500, 1.2, 0.02em);
  }
}

// кнопка випадаючего меню - бургер
@media (max-width: 767px) {
  .menu {
    display: none;
  }
}
@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
