/* Сторинка Портфоліо */
.filter {
  display: flex;
  justify-content: center;

  &__item:not(:last-child) {
    margin-right: 8px;
  }
}

.button {
  padding-left: 22px;
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  border-radius: 4px;
  border: 1px solid transparent;

  background-color: var(--second-white-background);
  color: var(--second-color);
  cursor: pointer;
  font-family: inherit;
  @include fonts(noll, 500, 1.6, 0.03em);

  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-background);
    color: var(--logo-whitecolor);
    box-shadow: 1px 4px 6px 0px #00000029;
  }
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.portfolio__item {
  margin-right: 30px;
  margin-bottom: 30px;
  width: 370px;

  &:nth-child(3n) {
    margin-right: 0px;
  }
  &:nth-last-child(-n + 3) {
    margin-bottom: 0px;
  }
}

.portfolio__link {
  text-decoration: none;
  display: block;

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover .portfolio__overlay,
  &:focus .portfolio__overlay {
    transform: translateY(0);
  }

  &:hover,
  &:focus {
    box-shadow: 1px 4px 6px 0px #00000029;
  }
}

.portfolio__img {
  position: relative;
  overflow: hidden;
}
.portfolio__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  display: block;
  color: var(--logo-whitecolor);
  background-color: #2196f3e5;
  padding-left: 24px;
  padding-top: 63px;
  padding-right: 24px;
  padding-bottom: 63px;

  @include fonts(18px, 400, 1.6, 0.03em);

  text-align: left;

  transform: translateY(100%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.border {
  border: 1px solid #eeeeee;
  border-top: 0;
}

.portfolio__title {
  color: var(--second-color);

  @include fonts(18px, 700, 2, 0.06em);
}

.portfolio__disc {
  margin-top: 4px;

  color: var(--prime-color);
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.03em;
}
.portfolio__text-wrap {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}
