/* Команда */
.section.team {
  background-color: var(--second-white-background);
}

.team {
  display: flex;

  &__item-title {
    color: var(--second-color);
    @include fonts(16px, 500, 1.2, 0.03em);

    text-align: center;
    margin-bottom: 10px;
  }

  &__item-disc {
    margin-bottom: 16px;
    @include fonts(16px, null, 1.2, 0.03em);

    text-align: center;
  }
  &__text-wrap {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.team__item {
  display: block;
  background-color: var(--prime-white-background);
  box-shadow: 0px 2px 1px 0px #00000033;

  border-radius: 4px;
  &:not(:last-child) {
    margin-right: 30px;
  }
}
