body {
  background-color: var(--prime-white-background);
  color: var(--prime-color);
  font-family: $primaryFontFamily;
}
header {
  border-bottom: 1px solid #ececec;
}
img {
  display: block;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
